
  @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
      font-family: 'nanumgothic';
      font-size: 13px;
      color:#555;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
      line-height: 1.5em;
  }
  #wrap{
    margin: 10px;
  }
.header{
  /* background-color: black; */
}

.section{
    overflow: hidden;
    margin-left: 50px;
  }
.desciption{
  margin-top: 20px;
  display: block;


}

.im img{
    width:30%;
    margin-top: 10px;
    margin-right: 50px;
    float:left;
}
.im .desciption{
  width:70%;
  margin: auto;}
p{
  margin: 10px;
  font-size:20px;
  line-height: 1.5em;
}
.name{
  margin-left: 80px;
}
