*{
  text-decoration: none;
}
.section{
  margin: 10px;
  margin-left: 20px;
}

.article{
  overflow: hidden;
  width: 90%;
}
.ch{
  width:45%;

}
.article:hover{
}
img{
    width:100%;
}
div{
  float:left;
  }
  span{
    font-size: 15px;
  }
  .a{
    width:50%;
    position: relative;
    left:20px;
    top:20px
  }
  #footer{
    width: 100%;
    text-align: center;
  }
