*{
    margin: 0;
    padding: 0;
}

.header{
    position:absolute;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
header{
  width:100%;
  overflow: hidden;
}
img.big{
  width:100%;
  float:left;
}
.sub-header{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;

}
/* .sub-header .menu{
    float: right;
} */
.logo{
  width:100%;
  height: auto;
  position: relative;
  margin-top: 30px;
  margin-left: 50px;

}
.sub-header .logo a{
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 30px;
    position: relative;
    display: block;
}
.sub-header ul{
  float:right;
  margin-top:30px;
  margin-right: 50px;
}

.sub-header ul li{
    list-style: none;
    min-width:80px;
    font-size: 16px;
    float: left;
    text-align: center;
}

.sub-header ul li a{
    text-decoration: none;
    color:white;
    font-family: 'Roboto Condensed', sans-serif;
font-weight: bold;
    font-size: 14px;
    letter-spacing: -0.1px;
    display: block;
    border-radius: 2px;
}

.sub-header ul li:hover a{
    border:2px solid red;
}

/* 컨테이너 */
.container {width: 80%; margin: 0 auto; height: inherit; /* background: rgba(255,255,255,0.3);*/}

/* 슬릭 배너 */
.ban {position: relative; padding: 24px 0 40px;}
.ban .slick-prev {position: absolute; left: -80px; top: 80px; width: 50px; height: 50px; background: url(./images/icon.png) no-repeat -150px 0; text-indent: -9999px;}
.ban .slick-next {position: absolute; right: -80px; top: 80px; width: 50px; height: 50px; background: url(./images/icon.png) no-repeat -150px -43px; text-indent: -9999px;}
.ban .slick-prev:hover {background-position: -193px 0;}
.ban .slick-next:hover {background-position: -193px -43px;}
.ban img {border: 1px solid #dcdcdc;}
.ban img:hover {border-color: #98bcdc;}
/* .ban .slick-slide {margin: 10px;} */
.ban .slick-dots {position: absolute; bottom: 15px; display: block; width: 100%;text-align: center;}
.ban .slick-dots li {display: inline-block; width: 15px; height: 15px; margin: 5px; }
.ban .slick-dots li button {font-size: 0; line-height: 0; display: block; width: 15px; height: 15px;
cursor: pointer; background: #5dbfeb; border-radius: 50%;}
.ban .slick-dots li.slick-active button {background: #2b91c8;}



/* 푸터 */
.footer {padding: 25px 0; text-align: center;}
.footer ul {margin-bottom: 20px;}
.footer li {position: relative; display: inline; padding: 0 7px 0 10px;}
.footer li:before {content: ''; width: 1px; height: 12px; background: #ccc; position: absolute; left: 0; top: 2px;}
.footer li:first-child:before {width: 0; height: 0;}
.footer .w3c {margin-top: 15px;}


@media screen and (max-width:1200px){
    .sub-header{
        width: 100%;
    }
}

@media screen and (max-width:768px){
    .sub-header ul{
        position: relative;
        top: 30px;
        float: none;
        display: block;
    }
